body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.icons-container {
  display: flex;
  justify-content: space-evenly;
}

footer {
  position: absolute;
  bottom: 0;
}